h1 {
    font-size: 6rem;
}

p {
    max-width: fit-content;
    font-size: 1.3rem;
    margin-top: .9rem !important;
    padding-inline: 25px;
}

a:any-link {
    font-size: 1.3rem;
    color: #ddd;
    margin-top: .9em !important;
}

.center {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 6rem;
}

.center * {
    margin: 0;
}
