<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/error.css">
    <title>{{title}} - {{config.displayed_name}}</title>
    <style>
        :root {
            --gradient: linear-gradient(90deg, {{config.accent_colors[0]}} 0%, {{config.accent_colors[1]}} 100%);
            --background: #222;
        }
    </style>
</head>
<body>
    <div class="center">
        <h1>{{code}}</h1>
        <p>{{message}}</p>
        <a href="/"><- Go back</a>
    </div>
</body>
</html>
