<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/search.js" defer></script>
    <title>{{config.displayed_name}}</title>
</head>
<body>
    <header>
        <h1>{{config.displayed_name}}</h1>
    </header>

    <div class="searchbar-box">
        <div class="border-box">
            <input type="search" id="searchbar" placeholder="Search for files...">
        </div>
    </div>

    <main>
        {% for item in data %}
        <div class="item" data-tags="{{item.tags}}">
            <h2>{{item.name}}</h2>
            <p class="description">{{item.description}}</p>

            <div class="tags-and-buttons">
                <div class="tags">
                    {% for tag in item.tags %}
                     <p>#{{tag}}</p>
                    {% endfor %}
                </div>
                <div class="border-box">
                    <a href="./{{item.path}}">Download</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </main>
</body>
</html>
